@model IEnumerable<LotterySyndicate.Models.Transaction>
@using Newtonsoft.Json;
@using LotterySyndicate.Models;
@using System.Net;
@using System.IO;


@{
    ViewBag.Title = "Syndicate Dashboard";
    var url = "https://localhost:44327/api/webapi";
    string json = new WebClient().DownloadString(url);

    var assestsPerUser = JsonConvert.DeserializeObject<List<UniqueUsersTransactions>>(json);
}

<h2>Syndicate Dashboard</h2>

<p>
    @Html.ActionLink("View all transactions", "ShowAll")
    
</p>


@* Top table and instructions *@
<div class="col-md-6">
    <p>
        @{
            foreach (var item in assestsPerUser)
            {

                if (item.User == User.Identity.Name)
                {
                    var userAmountDividedByTotalAmount = (item.AmountCount / ViewBag.TotalAmount);

                    var prizeShare = userAmountDividedByTotalAmount * ViewBag.FirstPrize;
                    <h3>Your Potential Winnings: £@Math.Round(prizeShare, 2)</h3>
                }

            }
        }

        
        <h4>Welcome to the C5 Christmas Lottery Syndicate!</h4>
        Here you will be able to see:
        <br />
        - How many tickets we collectively own
        <br />
        - How much money we have collectively spent
        <br />
        - Your potential 1st prize winnings compared to the rest of the syndicate participants
    </p>
    <br />
    <table class="table">
        <tr>
            <td>
                <h4>Total Tickets in Syndicate</h4>
            </td>
            <td>
                <h4>@ViewData["TotalTickets"]</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Total Spent</h4>
            </td>
            <td>
                <h4>£@ViewData["TotalAmount"]</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>First Prize</h4>
            </td>
            <td>
                <h4>£@ViewData["FirstPrize"]</h4>
            </td>
        </tr>
    </table>

    <p>
        
        <br />
        Check out this graph to see how much everyone has spent and the average spend per person
    </p>
</div>

<div class="col-md-1"></div>

<div class="asterGraph col-md-5"></div>

<p>&nbsp;</p> 
<p>&nbsp;</p>


@* prize share table *@
<div class="col-md-5"> 
    <table class="table">
        @{
            <tr>
                <th>

                </th>
                <th>
                    Ticket Share (%)
                </th>
                <th>
                    Prize Share (£)
                </th>
            </tr>



            foreach (var item in assestsPerUser)
            {
                <tr>
                    <td>
                        @{
                            int indexAt = item.User.IndexOf('@');
                            int indexDot = item.User.IndexOf('.');
                            string name = item.User.Substring(0, indexDot) + " " + item.User.Substring((indexDot + 1), (indexAt - (indexDot + 1)));
                        }
                        @name
                    </td>
                    <td>
                        @{
                            var userAmountDividedByTotalAmount = (item.AmountCount / ViewBag.TotalAmount);
                            var percentageUserAmountDividedByTotalAmount = userAmountDividedByTotalAmount * 100;
                        }
                        @Math.Round(percentageUserAmountDividedByTotalAmount, 2)
                    </td>
                    <td>
                        @{
                            var prizeShare = userAmountDividedByTotalAmount * ViewBag.FirstPrize;
                        }
                        @Math.Round(prizeShare, 2)
                    </td>
                </tr>
                            }
        }
    </table>
</div>

<div class="col-md-1"></div>

<div class="horizontalBarChart d-inline-block col-md-5"></div>

<p>&nbsp;</p>


@*<div class="ticketsPerUser d-inline-block col-md-6"></div>*@


<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>

<script src="https://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>


<script src="~/Scripts/aster-graph.js"></script>
<script src="~/Scripts/horizontal-bar-chart.js"></script>

<script>
    //barChart();
    horizontalBarChart2();
    asterGraph();
</script>

